
@{
    ViewData["Title"] = "Admin Panel";
}

<h1>Admin Panel</h1>

<form asp-controller="Admin" asp-action="SeedDatabase" method="post">
    <button type="submit" class="btn btn-primary">Seed Database</button>
</form>


<form asp-controller="Admin" asp-action="DeleteAllArticles" method="post">
    <button type="submit" class="btn btn-danger">Delete All Articles</button>
</form>